--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2

numpy<2.0

langchain==0.3.26
langchain-community==0.3.26
langchain-pinecone==0.2.8

flask==3.1.1
sentence-transformers==2.6.1
pypdf==5.6.1
python-dotenv==1.1.0
langchain-groq

-e .
